// colores generales 
$bluebasecolor:#28abe1;
$graybasecolor:#464646;
$ligthgray: #908e98;
$labelligthgray: #cadbd9;
// limites media query boostrap
$media-xs:575.98px;
$media-sm:767.98px;
$media-md:991.98px;
$media-lg:1199.98px;