.px-0 {
    padding-left: 0;
    padding-right: 0;
}

.px-1 {
    padding-left: 5px;
    padding-right: 5px;
}

.py-40px {
    padding-top: 40px;
    padding-bottom: 40px;
}

body {
    /* background: url("../Pantallas/Pantalla\ mis\ citas.png");
    background-repeat: no-repeat;
    background-size: 1280px; */
    margin: 0;
    padding: 0;
}

.pormed-wrapper {
    display: grid;
    grid-template: 130px 1fr 44px / 62px 1fr;
    grid-template-areas: 'sidebarArea headerArea' 'sidebarArea mainArea' 'footerArea footerArea';
    min-height: 100vh;
}

.sidebar {
    /* position: fixed;
    height: calc(100vh - 44px); */
    grid-area: sidebarArea;
    background-color: #28ABE1;
    color: white;
}

.sidebar a {
    color: white;
    display: block;
    text-decoration: none;
    padding: 10px;
    text-align: center;
}

.sidebar a figure img {
    width: 32px;
}

.sidebar a:hover {
    color: white;
    background-color: #69C4EA;
}

.header {
    grid-area: headerArea;
    background-color: #454545;
}

.header-wrapper {
    grid-area: headerArea;
    width: calc(100vw - 20px - 62px);
    display: flex;
    justify-content: space-between;
}

.header-wrapper .pormed-logosimbolo img {
    height: 130px;
}

.header-wrapper .pormed-logo {
    align-self: center;
}

.header-wrapper .pormed-logo img {
    height: 80px;
}

.lang-buttons {
    padding: 12px 26px 12px 0px;
}

.btn-lang {
    color: white;
    background-color: transparent;
    border: 1px solid;
    border-radius: 5px;
    margin: 5px;
}

.main {
    grid-area: mainArea;
    padding-left: 95px;
    padding-right: 70px;
}

.footer {
    grid-area: footerArea;
    padding: 5px 70px;
    background-color: #454545;
    color: white;
    display: flex;
    align-items: center;
}

.footer .pormed-logo {
    padding-right: 60px;
}

.footer .pormed-logo img {
    height: 30px;
}

.footer .client-data {
    margin-left: 40px;
}

.footer .vertical-sep {
    width: 3px;
    height: 25px;
    margin: 3px 10px;
    border-left: 1px solid white;
}

.pormed-tabs-container {
    display: block;
}

.pormed-tabs-wrapper {
    display: inline-block;
}

.pormed-tabs-title {
    color: white;
    background-color: #28ABE1;
    padding: 5px 10px 5px 10px;
    text-transform: uppercase;
    border-bottom-right-radius: 10px;
    font-weight: bold;
    display: block;
    width: 100%;
}

.pormed-tabs {
    margin: 0;
    padding: 0 10px 0 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.pormed-tabs>li>a {
    margin-right: 1px;
    padding: 10px;
    line-height: 2.9;
    background-color: #e9e9e9;
    border: 1px solid transparent;
    border-radius: 0 0 5px 5px;
    text-decoration: none;
    text-transform: capitalize;
    color: #4d4d4d;
}

.pormed-tabs>li.active>a {
    color: white;
    background-color: #28ABE1;
}

.tab-content {
    margin-top: 30px;
}

.pormed-card {
    /* border: 1px solid red; */
    border: 2px solid #f2f2f2;
    border: 2px solid #e9e9e9;
    border-bottom-right-radius: 20px;
    margin: 5px 0px;
    padding: 10px 15px;
}

.pormed-card-title {
    color: #28ABE1;
    text-transform: uppercase;
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
}

.pormed-card-details {
    margin-bottom: 5px;
}

.pormed-card-details p {
    margin: 0;
    color: #4d4d4d;
    font-size: 1.1rem;
}

.upper {
    text-transform: uppercase;
}